<div class="typical-page-wrapper">
    <ul class="nav-bar">
        <li><a href="/petition/signed">Signature</a></li>
        <li><a href="/signers">Signers List</a></li>
        <li><a href="/edit">Edit profile</a></li>
        <li><a href="/logout">Log out</a></li>
    </ul>

    <div class="petition-home"></div>

    <div class="main-title">
        <h3>You have deleted your signature :/</h3>
    </div>

    <div class="main-title">
        <h3>You can sign again by following this link
            <a href="/petition">sign here</a></h3>
    </div>

</div>