<div class="typical-page-wrapper">
    <div class="petition-home"></div>

    <div class="error-page">
        <div class="error-msg-container">
            <h1>ERROR</h1>
            <h1>404</h1>
            <h1>PAGE NOT FOUND</h1>
        </div>
    </div>

</div>