<div class="page-wrapper">
    <div class="petition-home">
        <div class="petition-title">
            <h1>Bring the 9 euro</h1>
            <h1>ticket back!</h1>
            <h2>But we won't get there without your support. Join our campaign
                today!</h2>
        </div>
    </div>

    <form type="submit" method="post" id="login-form">
        <input type="email" placeholder="Enter your email" name="email" />
        <input type="password" placeholder="Enter a password" name="password" />
        <input type="submit" value="Log in" />
    </form>

    <div class="login-wrapper">
        <p class="already-member">Not a member?
            <a href="/register">Sign up</a></p>
        <p class="form-error">{{error}}</p>
    </div>
</div>